@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Gasoek+One&family=Jua&family=Montserrat:ital,wght@0,600;1,500&family=Poor+Story&display=swap');

*{font-family: Montserrat,sans-serif;background-color: black;}
a{ text-decoration: none; }
ul, li{ list-style-type: none; padding: 0; margin: 0;}


nav{
  display: flex;
  justify-content: space-between;
  padding: 30px 10vw;
  font-size: 34px;
  color: #fff;
}

.nav-right{
  font-size: 20px;
  display: flex;
  gap: 30px;
  margin: 8px 0;
}
article{
  padding: 0 10vw;
  color: #fff;
}
.movie{margin: 50px 0;}
.movieList{display: flex;}
.movie-title{font-size: 15px; margin:10px 0;}