@font-face {
  font-family: 'omyu_pretty';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
*{ font-family: 'omyu_pretty'; }
a{ text-decoration: none; }
li{ list-style-type: none; }

.App{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: antiquewhite;
  >article{
    width: 60%;
    margin: 0 auto;
    border-radius: 30px;
    background-color: white;
    box-shadow: 0 0 10px lightgray;
  }
}