html{
  font-size: 24px;
  line-height: 2;
}
.wrap{
  display: flex;
  justify-content: space-between;
}
header{
  width:15%; height:100vh;
  background-color: black;
  display: flex;
  // align-items: center;
  justify-content: center;
  nav{
    margin: 20px;
    a{
      color: yellowgreen;
      margin: 10px 30px;
      display: block;
    }
  }
}
main{
  width:80%;
  height: 100vh;
  overflow: auto;
}
