@font-face {
  font-family: 'omyu_pretty';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

*{ font-family: 'omyu_pretty';}
a{ text-decoration: none; }
li{ list-style-type: none; }
html{
  font-size: 24px;
}
.App{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(231, 255, 238);
  > article{
    width:500px;
    padding:40px;
    border-radius: 30px;
    background-color: white;
    box-shadow: 0 0 20px rgba(28, 151, 44, 0.3);
    > h1{ 
      border-bottom:1px dashed #000; 
      padding-bottom:10px; margin:0;
      position: relative;
      span{
        position: absolute;
        right:0; top:5px;
        font-size:1rem;
        color: rgb(255, 101, 101);
      }
    }
    > ul{
      margin:0; padding:0; list-style-type: none;
      li{ 
        padding:15px 0; 
        
        >button{
          font-size: 20px;
          margin: 5px;
        }
      }
    }
    p input, p button{
      background-color: rgb(223, 223, 223);
      
      width:100%;
      padding:10px;
      box-sizing: border-box;
      border:0;
    }
    p button{
      background-color: rgb(255, 101, 101);
      color: white;
      margin-top:5px;
      font-size: 20px;
    }
    
  }
}

code{
  font-family: 'omyu_pretty';
}

form{
  border-top: 1px dashed #000; 
}
.active{
  color: #aaa;
}