@font-face {
  font-family: 'omyu_pretty';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

*{ font-family: 'omyu_pretty'; box-sizing: border-box;}
a{ text-decoration: none; }
li{ list-style-type: none; }
html{
  font-size: 24px;
}
article{
  width:50%; margin:100px auto;
  padding:60px; 
  background-color: rgb(242, 242, 242);
  box-shadow: 0 0 10px rgb(190, 190, 190);
  border-radius: 30px;
}
input, textarea{
  width:100%; margin:5px 0;
  padding:10px;
  border-style: none;
  border-radius: 5px;
}
textarea{height:200px;}
li{ padding:15px 0; border-bottom:1px dashed black}