@font-face {
  font-family: 'omyu_pretty';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
*{ font-family: 'omyu_pretty'; }
a{ text-decoration: none; }
li{ list-style-type: none; }

nav{
  width:100%; height:10vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ebf0ff;
  padding: 10px 0;
  >a{
    font-size: 20px;
    margin:0 20px;
  }
}

main{
  width:100%;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  >article{
    margin: 30px auto;
    width: 50%;
    padding: 0 10px;
  }
}

.popup{
  padding: 10px 100px;
  background-color: yellowgreen;
}

.popup.active{
  padding: 10px 100px;
  background-color: orange;
}

.scroll figure{
  background-color: lightblue;
  height: 200px;
  width: 200px;
  transform: translateY(200%);
  transition: 1s;
}

.scroll figure.active{
  background-color: lightpink;
  height: 200px;
  width: 200px;
  transform: translateY(0%);
  transition: 1s;
}

.mySwiper{
  width: 100%;
  height: 200px;
}

.slide1{
  background-color: rgb(255, 236, 150);
  text-align: center;
  font-size: 40px;
  
}

.slide0{
  background-color: rgb(220, 255, 149);
  text-align: center;
  font-size: 40px;
  
}